<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/post/<%=onePostData.id %>", method="post">
        title: <input type="text" name="title" value="<%= onePostData.title %>"><br><br> 
        content: <input type="text" name="content" value="<%= onePostData.content %>"><br><br>
        imgUrl: <input type="text" name="imgUrl" value="<%= onePostData.imgUrl %>"><br><br>

        <input type="submit" value="edit New Post">
    </form>
</body>
</html>